body {
  margin: 0 auto;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
}
a {
  text-decoration: none;
}
a:hover {
}

* {
  padding: 0;
  margin: 0 auto;
}
body {


}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

span{
  background: none;
  //color: #ad005a;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


